@model IEnumerable<ProductManager.Core.Models.Product>

@{
    ViewData["Title"] = "List Product in " + ViewBag.CategoryName;
}

<div class="row">
    @foreach (var item in Model)
    {
        <partial name="_ProductOverview" model="item" />
    }
</div>