<div class="list-group">
    <a class="btn list-group-item list-group-item-action active" asp-area="" asp-controller="ProductCustomer" asp-action="ListProduct" asp-route-categoryId="4">
        Category 04
    </a>
    <a class="btn list-group-item list-group-item-action" active" asp-area="" asp-controller="ProductCustomer" asp-action="ListProduct" asp-route-categoryId="5">
        Category 05
    </a>
</div>